/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


/*Mobilní verze*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    min-width: 300px;
}

.bila {
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    max-width: 500px;
}

/* HLAVICKA */

.hlavicka {
    background-image: url('/../images/island-hlavicka.jpg');
    background-color: #cccccc;
    max-width: 500px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 0.5rem 1.5rem;
}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 2.5rem;
}


/* MENU */

li {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px  rgb(179, 179, 179) solid;
    padding: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(179, 179, 179);
}



/* OBSAH */

.obsah {
    padding: 1.5rem;
}

.popisek {
    font-size: 0.8rem;
    color: rgb(179, 179, 179);
    text-align: center;
}

.popisek a {
    color: rgb(179, 179, 179);
}

.nadpis {
    position: relative;
    padding: 0.5rem;
}
  
  .nadpis:after {
    content: '';
    width: 80px;
    height: 4px;
    background: darkcyan;
    position: absolute;
    left: -25px;
    bottom: -14px;
    padding-left: 0;
    margin-bottom: 0.5rem;
  }

/* FOTOGALERIE */

.galerie {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.galerie .foto {
    max-width: 100%;
    height: auto;
}


/* PATICKA */

.paticka {
    display: flex;
    flex-direction: column;
    color: darkslategrey;
    padding: 0.5rem 1.5rem;
    max-width: 500px;
}

.paticka a {
    color: darkslategrey;
}

/*Tabletová verze*/

@media only screen and (min-width: 501px) and (max-width: 999px) {

}

/*Počítačová verze*/

@media only screen and (min-width: 1000px) {
    
}

/*Vykoumat nefungující obrázky a vrhnout se na tabletovou verzi*/

/*Zjistit zda by i mobilní verze neměla být jeden velký flex box s column direction a položky podle toho zarovnány?i*/