/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


/*Mobilní verze*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    min-width: 300px;
}

.bila {
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    max-width: 500px;
    font-size: 0.9rem;
    padding: 1.5rem;
    padding-top: 0.5rem;
}

/* HLAVICKA */

.hlavicka {
    background-image: linear-gradient( rgba(77, 77, 77, 0.5), rgba(77, 77, 77, 0.5) ), url('images/island-hlavicka.jpg');
    background-color: #cccccc;
    max-width: 500px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 0.5rem 1.5rem;
}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 2.5rem;
}


/* MENU */

li {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px  rgb(179, 179, 179) solid;
    padding: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(179, 179, 179);
}

/* OBSAH */

.popisek {
    font-size: 0.8rem;
    color: rgb(179, 179, 179);
    text-align: center;
}

.popisek a {
    color: rgb(179, 179, 179);
}

.nadpis {
    position: relative;
    padding: 0.5rem;
}
  
.nadpis:after {
    content: '';
    width: 80px;
    height: 4px;
    background: darkcyan;
    position: absolute;
    left: -25px;
    bottom: -14px;
    padding-left: 0;
    margin-bottom: 0.5rem;
  }

  .obsah img {
    max-width: 99%;
    max-height: 99%;
  }

/* FOTOGALERIE */

.galerie {
    display: flex;
    flex-direction: column;
}

.galerie .foto {
    max-width: 100%;
    height: auto;
    margin: 0;
}
.galerie .popisek {
    font-weight: 700;
}

.galerie .popisek-copy {
    font-weight: 400;
}

/* PATICKA */

.paticka {
    display: flex;
    flex-direction: column;
    color: darkslategrey;
    padding: 0.5rem 1.5rem;
    max-width: 500px;
}

.paticka a {
    color: darkslategrey;
}

/*Tabletová verze*/

@media only screen and (min-width: 501px) and (max-width: 999px) {

    .bila {
        max-width: 999px;
        padding-bottom: 225px;
    }

    .hlavicka {
        max-width: 999px;
    }

    /*menu*/

    .menu {
        border-top: 1px  rgb(179, 179, 179) solid;
        margin-bottom: 2rem;
     }

     .sloupec {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    /*obsah*/

    .obsah {
        padding-top: 0rem;
    }

    .obsah img {
        max-width: 99%;
        max-height: 99%;
    }

    .obrazek {
        position: relative;
    }

    .obrazek p {
        position: absolute;
        bottom: 0.1rem;
        right: 1rem;
        font-size: 0.7rem;
        color: rgb(231, 231, 231)
            }

    .popisek a {
        color: rgb(231, 231, 231);
    }

    /*galerie*/
    .galerie {
        max-width: 799px;
        padding: 0rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 20%);
        justify-content: center;
    }

    .foto {
        overflow: hidden;
    }

    .foto img {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
    }

    figure {
        display: flex;
        position: relative;
        margin: 0;
    }

    figure figcaption {
        position: absolute;
        bottom: -2.5rem;
        left: calc(100%/4);
    }

    figure .popisek {
        color: white;
    }

    figure:hover figcaption {
        position: absolute;
        bottom: 0.5rem;
        left: calc(100%/4);
        display: inline !important;
        transition: 0.5s;
    }

    .foto:hover img {
        transition: 0.5s;
        transform: scale(1.25);
    }

}

/*Počítačová verze*/

@media only screen and (min-width: 1000px) {

    /*obsah*/
    .bila {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .obrazek {
        position: relative;
        margin-left: -24px;
        margin-right: -34px;

    }

    .obrazek p {
        position: absolute;
        bottom: 0.1rem;
        right: 1rem;
        font-size: 0.7rem;
        color: rgb(231, 231, 231)
            }

    .popisek a {
        color: rgb(231, 231, 231);
    }

    /*hlavička*/
    .hlavicka {
        max-width: fit-content;
        height: auto;
        margin-bottom: -1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hlavicka p {
        max-width: 50%;
    }

    /*galerie*/
    .galerie {
        max-width: 960px;
        padding: 0rem;
        display: grid;
        grid-template-columns: repeat(3, calc(100%/3));
        grid-template-rows: repeat(3, calc(100%/3));
        grid-gap: 0;
    }

    .foto img {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
    }

    .foto {
        overflow: hidden;
    }

    figure {
        display: flex;
        position: relative;
        margin: 0;
    }

    figure figcaption {
        position: absolute;
        bottom: -2.5rem;
        left: calc(100%/4);
    }

    figure .popisek {
        color: white;
    }

    figure:hover figcaption {
        position: absolute;
        bottom: 0.5rem;
        left: calc(100%/4);
        display: inline !important;
        transition: 0.5s;
    }

    .foto:hover img {
        transition: 0.5s;
        transform: scale(1.25);
    }

    /*menu*/
    .menu {
        width: 20%;
    }

    .prava {
        width: 70%;
        position: relative;
        left: 25%;
        margin-top: -170px;
    }

    .zmena-prava {
        padding-left: 25%;
    }

    .zmena-leva {
        padding-right: 25%;
    }
}


/*Kosmetické chyby - patička v desktopové verzi je na středu, jak ji posunout, aby začínala souběžně s levou hranou bílé?
Galerie je dole odsazená/přetéká podle velikosti stránky - čím to je? Zkusit opravit.*/